html,
body {
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	display: flex;

	justify-content: center;

	/* align-items: center; */
}

#controls {
	margin: 10px;
	position: absolute;
}

#controls > input {
	font-size: larger;
}

#settings {
	margin: 10px;

	top: 45%;
	position: absolute;

	font-size: larger;
}

#settings > input {
	font-size: larger;
}

canvas {
	display: block;
}

.invisible {
	display: none;
}
